.col {
    border: solid 5px rgb(85, 85, 85);
    border-radius: 20px;
    background-color: white;
    padding: 30px;
}

#yourGuess-text, #computerGuess-text{
    text-align: center;
    font-size: 50px;
}

/* .col {
    width: 30%;
} */
.display-4, #gameRounds {
    text-align: center;
}